<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <title>Big Blood Campaign | {% block jinjatitle %} {% endblock %}</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BBC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        {% if user.is_authenticated %}
        
          <li class="nav-item">
            <a class="nav-link" href="{% url 'DonerRequest' %}">Add Request</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>

        {% endif %}


        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        
        
      </ul>
    </div>
  </div>
</nav>


    {# navbar jinja #}
    {% block navbarjinja %}
        
    {% endblock navbarjinja %}


	{# body jinja #}
	{% block jinjabody %} {% endblock %}


    {# footer jinja #}
    {% block jinjafooter %} 

    {% endblock %}


    {# bootstrap js #}
    {% load static %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>
 
  </body>
</html>